@media (min-width: 1200px) {
  .product-page:nth-of-type(4n) {
    margin-right: 0; } }
@media (min-width: 900px) and (max-width: 1199px) {
  .site-content:not(.site-content-small) {
    width: 900px; }

  .product-front {
    width: 300px;
    height: 300px; }

  .product-front-header {
    margin-bottom: 0.5em;
    font-size: 1.125em; }

  .carousel-arrow-prev {
    transform: translate(-370px) translate(-100%); }

  .carousel-arrow-next {
    transform: translate(370px); }

  .product-page {
    width: 278.66667px;
    height: 278.66667px; }
    .product-page:nth-of-type(3n) {
      margin-right: 0; } }
@media (max-width: 899px) {
  .site-content, .site-content-small {
    width: 600px; }

  .body-content {
    width: 480px;
    font-size: 1.125em; }

  .flex-responsive {
    flex-direction: column;
    align-items: center; }
    .flex-responsive .body-content-half, .flex-responsive .section-half {
      width: 480px; }

  .header-site-full {
    display: none; }

  .header-site-mobile {
    display: flex; }

  .product-front {
    width: 300px;
    height: 300px; }

  .product-front-header {
    margin-bottom: 0.5em;
    font-size: 1.125em; }

  .testimonial {
    margin-right: 0 !important; }
    .testimonial:not(:last-of-type) {
      padding-bottom: 1em;
      border-bottom: 1px solid #fff; }

  #showcase {
    padding-right: 0; }

  #news {
    padding-left: 0; }

  .carousel-arrow-prev {
    transform: translate(-220px) translate(-100%); }

  .carousel-arrow-next {
    transform: translate(220px); }

  .product-preview-image {
    display: none; }

  .product-preview-image-mobile {
    display: block; }

  .product-preview-info {
    width: 100%; }

  .product-page {
    width: 276px;
    height: 276px; }
    .product-page:nth-of-type(2n) {
      margin-right: 0; }

  .single-footer .link-body {
    max-width: 128px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

  .table-responsive tr {
    display: block; }
  .table-responsive td {
    display: block;
    margin-bottom: 16px;
    text-align: center; } }
@media (max-width: 599px) {
  .site-content, .site-content-small {
    width: 416px; }

  .body-content {
    width: 416px; }

  .site-content-padded {
    padding-left: 0;
    padding-right: 0; }

  .flex-responsive .body-content-half, .flex-responsive .section-half {
    width: 416px; }

  .site-footer-inner {
    height: 300px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .site-footer-inner > .list-footer {
      flex: 0; }

  .hero-info {
    width: 416px; }

  .carousel-arrow-prev {
    transform: translate(-128px) translate(-100%); }

  .carousel-arrow-next {
    transform: translate(128px); }

  .product-page {
    width: 200px;
    height: 200px; }

  .product-page-button {
    width: 50%;
    min-width: 0;
    padding: 0; }

  .single-footer {
    position: relative;
    padding-top: 5em; }
    .single-footer .link-body {
      max-width: unset; }

  .single-inquire {
    top: 0;
    white-space: nowrap; }

  .form-table-collapse tr {
    display: block; }
  .form-table-collapse td {
    display: block;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .form-checkboxes {
    position: relative;
    left: 50%;
    transform: translate(-50%); } }
@media (max-width: 479px) {
  body {
    font-size: 14px; }

  .site-content, .site-content-small {
    width: 316px; }

  .body-content {
    width: 316px; }

  .flex-responsive .body-content-half, .flex-responsive .section-half {
    width: 316px; }

  .site-footer-inner {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0 2em; }
    .site-footer-inner > .list-footer {
      flex: 0; }

  .hero-info {
    width: 316px; }

  .carousel-arrow {
    display: none; }

  .product-preview-inner {
    padding: 0; }

  .product-preview-excerpt {
    font-size: 1.15rem; }

  .product-page {
    width: 150px;
    height: 150px; }

  .page-header, .section-header {
    font-size: 1.8em; } }

/*# sourceMappingURL=media.css.map */
