//variables
$pxPadding: 16px;
$bodyWidth: 1200px;

//blocks
.site-content {
	@extend .box-center;

	width: $bodyWidth;
}

.box-center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.fullpage {
	width: 100%;
	height: 100vh;
}

section {
	padding: 2em 0;
	overflow: hidden;
}

//elements
.single-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.single-inquire {
	@extend .box-center;

	position: absolute;
}

.page-preview {
	width: 50%;
	float: left;

	&:nth-of-type(2n + 1) { padding-right: $pxPadding / 2; }
	&:nth-of-type(2n) { padding-left: $pxPadding / 2; }
}

//modifiers
.flex { display: flex; }

.site-content-small {
	width: 700px;
}

.site-content-tiny {
	width: 320px;
}

.list-basic {
	margin: 0;
	padding: 0;

	&> li {
		padding: 0;

		list-style: none;
	}
}

.locations {
	width: 100%;
	margin-bottom: $pxPadding;

	img { margin-right: $pxPadding; }
}