//variables
$fontMain: 'cera pro', helvetica, arial, sans-serif;
$fontProduct: 'wetstone', serif;

$emBase: 16px;

$pxBodyHalfW: 384px;
$emBodySize: 1.3rem;
$emBodyLineH: 1.5em;

//basics
p { margin: 0 0 1.25em 0; }
h1, h2, h3, h4, h5, h6 { text-align: center; }
.font-reset { font-size: 1rem; }

//fix for stupid wetstone font
.wetstone-font {
	height: 1.7em;

	font-family: $fontProduct !important;
	line-height: 2em;
	letter-spacing: 0.05em;
	
	&::after {
		content: '™';

		position: relative;
		top: -0.75em;

		font-family: $fontMain;
		font-size: 0.75em;
	}
}

//blocks
.body {
	font-size: $emBodySize;
	line-height: $emBodyLineH;
	hyphens: auto;
}

.body-content {
	@extend .site-content, .site-content-small, .body;

	img {
		max-width: 100%;
		height: auto;
	}
}

.body-small {
	font-size: 1.125em;
}

//elements
.page-header {
	margin: 0.5em 0;

	font-family: $fontMain;
	font-size: 3em;
	font-weight: bold;
}

.page-subheader {
	margin-top: -1em;

	text-align: center;
	color: $col3 + $colShade;
}

.section-header {
	margin: 0.25em 0 0.5em;

	font-family: $fontMain;
	font-size: 2.5em;
	font-weight: bold;
}

.link {
	text-decoration: none;
	color: $col1;

	transition-property: color;
	transition-duration: $sTrans;

	&:hover { color: $col1 - $colShade; }
}

.link-button {
	display: inline-block;
	min-width: 128px;
	padding: 0 1em;

	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	line-height: 3em;
	text-transform: uppercase;
	background: $col2;
	color: $col1;
	border-radius: 4px;

	transition-property: color, background;

	&:hover {
		color: $col1;
		background: $col2 - $colShade;
	}
}

//modifiers
.link-button-input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	border: 0;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

.link-button-grey {
	background: $col1 - $colShade;

	&:hover { background: $col1 - $colShade * 2; }
}

.link-body {
	color: $col2;

	&:hover, &.active { color: $col2 - $colShade; }
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-nowrap { white-space: nowrap; }

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.caret::after {
	content: '';
	display: inline-block;
	width: 0; height: 0;

	font-size: 0.5em;
	border: 0.7em solid transparent;
	border-top: 1em solid #fff;
	border-bottom: 0;
}

//wordpress
.alignleft { float: left; margin-right: $pxPadding; }
.alignright { float: right; margin-left: $pxPadding; }