//variables
$fontMain: 'cera pro', helvetica, arial, sans-serif;
$fontProduct: 'wetstone', serif;

$emBase: 16px;

$pxBodyHalfW: 384px;
$emBodySize: 1.3rem;
$emBodyLineH: 1.5em;

//basics
p { margin: 0 0 1.25em 0; }
h1, h2, h3, h4, h5, h6 { text-align: center; }
.font-reset { font-size: 1rem; }

//fix for stupid wetstone font
.wetstone-font {
	height: 1.7em;

	font-family: $fontProduct !important;
	line-height: 2em;
	letter-spacing: 0.05em;
	
	&::after {
		content: '™';

		position: relative;
		top: -0.75em;

		font-family: $fontMain;
		font-size: 0.75em;
	}
}

//blocks
.body {
	font-size: $emBodySize;
	line-height: $emBodyLineH;
	hyphens: auto;
}

.body-content {
	@extend .site-content, .site-content-small, .body;
}

.body-small {
	font-size: 1.125em;
}

//elements
.page-header {
	margin: 0.5em 0;

	font-family: $fontMain;
	font-size: 3em;
	font-weight: bold;
}

.page-subheader {
	margin-top: -1em;

	text-align: center;
	color: $col3 + $colShade;
}

.section-header {
	margin: 0.25em 0 0.5em;

	font-family: $fontMain;
	font-size: 2.5em;
	font-weight: bold;
}

.link {
	text-decoration: none;
	color: $col1;

	transition: all $sTrans;

	&:hover { color: $col1 - $colShade; }
}

//modifiers
.link-button {
	display: inline-block;
	min-width: 128px;
	padding: 0 1em;

	font-weight: bold;
	text-align: center;
	line-height: 3em;
	text-transform: uppercase;
	background: $col2;
	color: $col1;
	border-radius: 4px;

	&:hover {
		color: $col1;
		background: $col2 - $colShade;
	}
}

.link-body {
	color: $col2;

	&:hover, &.active { color: $col2 - $colShade; }
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

//wordpress
.alignright { float: right; margin-left: $pxPadding; }