$pxArrowWidth: 80px; //bad?? how do I fix?
$pxHeader: 64px;
$pxPadding: 16px;

@media (min-width: 1200px) {
	.product-page:nth-of-type(4n) { margin-right: 0; }
}

@media (min-width: 900px) and (max-width: 1199px) {
	$bodyWidth: 900px;

	$pxProductFront: 300px;
	$pxProductPage: 278.66667px;

	//general
	.site-content:not(.site-content-small) { width: $bodyWidth; }

	//front page
	.product-front {
		width: $pxProductFront;
		height: $pxProductFront;
	}

	.product-front-header {
		margin-bottom: 0.5em;

		font-size: 1.125em;
	}

	//.product-front-body { visibility: hidden; }

	//product listing page
	.carousel-arrow-prev { transform: translate(-$bodyWidth / 2 + $pxArrowWidth) translate(-100%); }
	.carousel-arrow-next { transform: translate($bodyWidth / 2 - $pxArrowWidth); }

	.product-page {
		width: $pxProductPage;
		height: $pxProductPage;

		&:nth-of-type(3n) { margin-right: 0; }
	}
}

//@media (min-width: 600px) and (max-width: 899px) {
@media (max-width: 899px) {
	$bodyWidth: 600px;
	$bodyWidthSmall: 480px;

	$pxProductFront: 300px;
	$pxProductPage: 276px;

	//general
	.site-content, .site-content-small { width: $bodyWidth; }

	.body-content {
		width: $bodyWidthSmall;

		font-size: 1.125em;
	}

	.flex-responsive {
		flex-direction: column;
		align-items: center;

		.body-content-half, .section-half {
			width: $bodyWidthSmall;
		}
	}

	//header
	.header { position: fixed; }
	.site-main { margin-top: $pxHeader; }
	.header-site-full { display: none; }
	.header-site-mobile { display: flex; }

	//front page
	.product-front {
		width: $pxProductFront;
		height: $pxProductFront;
	}

	.product-front-header {
		margin-bottom: 0.5em;

		font-size: 1.125em;
	}

	.testimonial:not(:last-of-type) {
		padding-bottom: 1em;
		border-bottom: 1px solid #fff;
	}

	#showcase { padding-right: 0; }
	#news { padding-left: 0; }

	//product listing page
	.carousel-arrow-prev { transform: translate(-$bodyWidth / 2 + $pxArrowWidth) translate(-100%); }
	.carousel-arrow-next { transform: translate($bodyWidth / 2 - $pxArrowWidth); }

	.product-preview-image {
		display: none;
	}

	.product-preview-image-mobile { 
		display: block;
	}

	.product-preview-info {
		width: 100%;
	}

	.product-page {
		width: $pxProductPage;
		height: $pxProductPage;

		&:nth-of-type(2n) { margin-right: 0; }
	}

	//single
	.single-footer .link-body {
		max-width: 128px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	//contact
	.table-responsive {
		tr { display: block; }
		td {
			display: block;
			margin-bottom: $pxPadding;

			text-align: center;
		}
	}
}

@media (max-width: 599px) {
	$bodyWidth: 416px;
	$bodyWidthSmall: 416px;

	$pxProductFront: 300px;
	$pxProductPage: 200px;

	//general 
	.site-content, .site-content-small { width: $bodyWidth; }
	.body-content { width: $bodyWidthSmall; }
	.site-content-padded { padding-left: 0; padding-right: 0; }

	.flex-responsive .body-content-half, .flex-responsive .section-half { width: $bodyWidthSmall; }

	//footer
	.site-footer-inner {
		height: 300px; //todo? how?
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;

		& > .list-footer {
			flex: 0;
		}
	}

	//front page
	.hero-info { width: $bodyWidth; }

	//product listing page
	.carousel-arrow-prev { transform: translate(-$bodyWidth / 2 + $pxArrowWidth) translate(-100%); }
	.carousel-arrow-next { transform: translate($bodyWidth / 2 - $pxArrowWidth); }

	.product-page {
		width: $pxProductPage;
		height: $pxProductPage;
	}

	.product-page-button {
		width: 50%;
		min-width: 0;
		padding: 0;
	}

	//single
	.single-footer {
		position: relative;
		padding-top: 5em;

		.link-body { max-width: unset; }
	}

	.single-inquire {
		top: 0;

		white-space: nowrap;
	}

	//forms
	.form-table {
		tr { display: block; }

		td {
			display: block;
			width: 100%;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.form-checkboxes {
		position: relative;
		left: 50%;
		transform: translate(-50%);
	}
}