//variables

//blocks
.hero {
	padding: 0;

	background: #666;
	color: $col1;
}

.hero-background, .video-container, .video-filter, .video-poster {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	overflow: hidden;
}

.video-video {
	position: absolute;
	
	z-index: 2;
}

.video-filter {
	z-index: 3;

	background: rgba(0, 0, 0, 0.4);
}

.video-poster {
	z-index: 1;

	background-size: cover;
	background-position: center;
}

.hero-info {
	position: absolute;
	width: 512px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;

	text-align: center;
}

.section-double {
	display: flex;
}

.section-half {
	flex: none;
	width: 50%;
}

.products-front {
	padding: 0;
	overflow-x: scroll;
}

.products-front-products {}

//elements
.hero-desc {
	font-size: 1.5em;
	line-height: 1.5em;
}

.hero-scroll {
	position: absolute;
	bottom: $pxPadding;
	z-index: 4;

	text-transform: uppercase;

	animation: hero-scroll-bounce 1s ease-in-out infinite;
}

//modifiers
.fullpage-hero {
	position: relative;
	min-height: 1000px;
	margin-top: -$pxHeader;
	padding-top: $pxHeader;
}

.section-invert {
	background: $col3;
	color: $col1;
}

//ids
#showcase { padding-right: $pxPadding / 2; }
#news { padding-left: $pxPadding / 2; }

//animations
@keyframes hero-scroll-bounce {
	0% { margin-bottom: 0; }
	50% { margin-bottom: 0.25em; }
	100% { margin-bottom: 0; }
}