//blocks
.header-nav-portal {
	justify-content: flex-end;
}

//elements
.header-portal-welcome {
	position: absolute;
	left: 0;
}

.header-portal-clearfix { margin-top: $pxHeader; }

//modifiers
.header-portal {
	z-index: 98;

	background: #fff;
	color: $col3 !important;
	border-bottom: 1px solid $col3;
}

.link-header-portal {
	color: $col3;
}