$pxArrowWidth: 80px;

//b
.carousel {
	position: relative;
	padding: 0;
}

.carousel-dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	padding: 0;
	margin-bottom: 3px;
	transform: translate(-50%);
}

.post-gallery {
	position: absolute;
	width: 100vw;
	left: calc(-50vw + 50%);
}

.post-gallery-clearfix { height: 400px; margin-bottom: $pxPadding; }

.post-gallery-slide {
	position: relative;
	height: 384px;
}

.lum-lightbox {
	z-index: 999;
	background: rgba(0, 0, 0, 0.6);
}

//e
.carousel-arrow {
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	width: $pxArrowWidth;
	height: 100%;
	z-index: 99;

	&::after {
		content: '';
		position: absolute;
		width: 32px;
		height: 32px;
		top: 45%;

		opacity: 0.5;

		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
	}

	&:hover::after { opacity: 1; }
}

.carousel-dot {
	display: inline-block;
	width: 0;
	height: 0;
	margin: 0 4px;

	border: 4px solid #fff;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0.4;

	&.active, &:hover { opacity: 1; }
}

.post-gallery-inner {
	display: block;
	height: calc(100% - #{$pxPadding * 2});
	padding: 0 $pxArrowWidth;
	margin: $pxPadding 0;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

//m
.carousel-arrow-prev {
	transform: translate(-$bodyWidth / 2 + $pxArrowWidth) translate(-100%);

	&::after {
		right: 16px;
		transform: rotate(135deg);
	}
}

.carousel-arrow-next {
	transform: translate($bodyWidth / 2 - $pxArrowWidth);

	&::after {
		left: 14px;
		transform: rotate(-45deg);
	}
}