.site-footer {
	overflow: hidden;
	margin-top: 128px;
	padding: $pxPadding 0;
}

.site-footer > div > ul {
	display: flex;

	font-weight: bold;

	* { flex: 1; }
	li { display: block; }
	ul {
		padding: 0;

		font-weight: normal;
	}
}