.site-footer {
	overflow: hidden;
	margin-top: 128px;
	padding: $pxPadding 0 $pxPadding * 4;
}

.site-footer-inner {
	display: flex;

	line-height: 1.5em;

	& > .list-footer {
		flex: 1;
		margin: 0;
		padding: 0;

		list-style: none;
		font-weight: bold;
		font-size: 1.125em;

		& > li { margin-bottom: 0.5em; }

		ul {
			padding: 0 1em;
			list-style: none;
			font-weight: normal;
			font-size: 1rem;
		}
	}
}