//blocks
.form-table {
	position: relative;
	width: 100%;

	td {
		position: relative;
		width: 50%;
		padding-bottom: 1em;
		vertical-align: top;

		&:not([colspan]):not(:only-child) {
			&:first-of-type { padding-right: $pxPadding / 2; }
			&:last-of-type { padding-left: $pxPadding / 2; }
		}

		&:only-child {
			padding-right: $pxPadding / 2;
		}
	}
}

.form-multiple {
	display: inline-flex;
	width: 100%;

	.form-label {
		flex-basis: 50%;

		&:not(:last-of-type) { padding-right: $pxPadding; }
	}
}

.form-checkboxes {
	display: inline-block;

	line-height: 1.55em;
	text-align: left;

	label { padding-left: 1em; }
}

//elements
.form-input {
	display: block;
	width: 100%;
	margin-top: 0.25em;
	padding: 0.5em;

	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-textarea {
	@extend .form-input;

	resize: vertical;
}

.select-symbol {
	position: absolute;
	right: $pxPadding;
	bottom: 1.5em;
	pointer-events: none;
}

.form-reset {
	margin-right: $pxPadding;
}

//modifiers
.table-footer {
	padding: 2em 0 0 0 !important;

	text-align: center;
}

.req {
	color: #f00;
}

.form-input-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}