//variables
$pxHeader: 64px;

//blocks
//  basic
.header {
	position: relative;
	width: 100%;
	height: $pxHeader;

	background-color: $col3;
	color: $col1;
	z-index: 99;
}

.header-nav {
	@extend .list-basic;

	display: flex;
}

//  site
.header-site {
	display: flex;
	justify-content: center;
}

.header-nav-site {
	height: auto;
	flex: 1 0 0;

	&:first-of-type { justify-content: flex-end; }
	&:last-of-type { justify-content: flex-start; }

	li:hover .header-sub-nav-site { display: block; }
}

.header-sub-nav-site {
	@extend .list-basic;

	display: none;
	position: absolute;
	background: $col3;
	z-index: 100;

	&:hover { display: block; }
}

//  page
.header-nav-page {
	justify-content: flex-end;
}

//elements
//  site
.header-link {
	display: inline-block;
	padding: 0 $pxPadding;

	line-height: $pxHeader;
}

.header-logo-site {
	width: $pxHeader;
	height: $pxHeader;
}

.header-sub {
	&.active ~ .site-header-sub-nav { display: block; }
}

//  page
.page-header-link-welcome {
	position: absolute;
	left: 0;
}

//modifiers
//  site
.link-header-site {
	position: relative;
	
	font-weight: bold;
	text-transform: uppercase;

	&.active { color: $col2; }
}

.has-sub-symbol {
	margin-left: 1em;

	font-size: smaller;
	vertical-align: top;
}

//  page
.header-page {
	z-index: 98;

	background: #fff;
	color: $col3 !important;
	border-bottom: 1px solid $col3;
}

.link-header-page {
	color: $col3;
}