//variables
$pxHeader: 64px;

//blocks
//  site
.site-header {
	position: relative;
	width: 100%;
	height: $pxHeader;

	background-color: $col3;
	color: $col1;
	z-index: 99;
}

.site-header-nav {
	@extend .list-basic;

	display: flex;
	height: auto;
	justify-content: center;

	li:hover .site-header-sub-nav { display: block; }
}

.site-header-sub-nav {
	@extend .list-basic;

	display: none;
	position: absolute;
	background: $col3;
	z-index: 100;

	&:hover { display: block; }
}

//  page
.site-header-nav-page {
	justify-content: flex-end;
}

//elements
//  site
.site-header-link {
	display: inline-block;
	padding: 0 $pxPadding;

	line-height: $pxHeader;
}

.site-header-logo {
	width: $pxHeader;
	height: $pxHeader;
}

.site-header-sub {
	&.active ~ .site-header-sub-nav { display: block; }
}

//  page
.page-header-link-welcome {
	position: absolute;
	left: 0;
}

//modifiers
//  site
.link-site-header {
	position: relative;
	
	font-weight: bold;
	text-transform: uppercase;

	&.active { color: $col2; }
}

.has-sub-symbol {
	margin-left: 1em;

	font-size: smaller;
	vertical-align: top;
}

//  page
.site-header-page {
	z-index: 98;

	background: #fff;
	color: $col3 !important;
	border-bottom: 1px solid $col3;
}

.link-header-page {
	color: $col3;
}