//variables
$pxHeader: 64px;

//blocks
//  basic
.header {
	position: fixed;
	width: 100%;
	height: $pxHeader;

	background-color: $col3;
	color: $col1;
	z-index: 999;
}

.site-main { margin-top: $pxHeader; }

.header-nav {
	@extend .list-basic;

	display: flex;
}

//  site
.header-site-full {
	display: flex;
	justify-content: center;
}

.header-nav-site {
	height: auto;
	flex: 1 0 0;

	&:first-of-type { justify-content: flex-end; }
	&:last-of-type { justify-content: flex-start; }

	li:hover .header-sub-nav-site { display: block; }
}

.header-sub-nav-site {
	@extend .list-basic;

	display: none;
	position: absolute;
	max-height: calc(100vh - #{$pxHeader});
	overflow-y: auto;
	z-index: 9999;

	background: $col3;

	a { width: 100%; }

	&:hover { display: block; }
}

.header-site-mobile {
	display: none;
	justify-content: space-between;
}

.header-site-dropdown { 
	flex: 1;
	text-align: right;

	.header-sub-nav-site {
		right: 0;
		text-align: left;
	}
}

//elements
//  site
.header-link {
	display: inline-block;
	padding: 0 $pxPadding;

	line-height: $pxHeader;
	white-space: nowrap;

	&.open-nav ~ .header-sub-nav-site { display: block; }
}

.header-logo-link { height: $pxHeader; }

.header-logo-img {
	width: $pxHeader;
	height: $pxHeader;
}

.header-site-dropdown-selected {
	position: relative;
	padding-right: $pxPadding * 3;

	.caret {
		position: absolute;
		right: $pxPadding;
	}
}

/* .header-sub-nav-cat-header {
	padding: 0 $pxPadding !important;
	height: 16px;

	line-height: 16px;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
	color: #999;
} */

.header-sub-nav-cat-header {
	@extend .header-link;

	position: relative;
	width: 100%;
	line-height: 2em;

	text-transform: uppercase;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
	color: #999;

	span {
		position: absolute;
		padding: 0 1em;
		transform: translate(-50%);

		background: $col3;
	}

	&:before {
		content: '';

		position: absolute;
		width: calc(100% - 2em);
		top: 50%;
		left: 1em;

		border-top: 1px solid #999;
	}
}

//modifiers
.header-link-clickthru .header-link {
	&::before { content: 'Go to '; }
	&::after { content: ' page'; }
}

//
.header-link-separated {
	&:not(:first-of-type) { border-top: 1px solid $col3 + #222; }
	//&:not(:last-of-type) { border-bottom: 1px solid $col3 + #222; }
}

//  site
.link-header-site {
	position: relative;
	
	font-weight: bold;
	text-transform: uppercase;

	&.active { color: $col2; }
}

.has-sub-symbol {
	margin-left: 1em;

	font-size: smaller;
	vertical-align: top;
}