//
.myproduct-list-item {
	display: flex;
	width: 100%;
	height: 128px;
	align-items: center;

	margin-bottom: $pxPadding;
}

//
.myproduct-list-item-img {
	width: 128px;
	height: 128px;
	margin-right: $pxPadding;
}

.myproduct-list-item-title {
	flex: 1;

	text-align: left;
}