//variables
$pxProductFront: 400px; //p much arbitrary
$pxProductPage: 280px; //1200 with 16px gutter and padding / 4

//blocks
//  front
.products-front-products {
	display: flex;
}

.product-front {
	display: inline-block;
	position: relative;
	width: $pxProductFront;
	height: $pxProductFront;
	padding: $pxPadding * 2;
	flex-shrink: 0;

	background-position: center;
	background-repeat: no-repeat;
}

.product-front-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	z-index: 2;

	line-height: $emBodyLineH;
	hyphens: auto;
	opacity: 0.99;
}

//  preview
.product-preview-slide {
	@extend section;

	position: relative;
	height: 400px;

	color: #fff;
}

.product-preview-background { z-index: 2; }

.product-preview-inner {
	position: relative;
	display: flex;
	height: 100%;
	padding: 0 80px;

	z-index: 3;
}

.product-preview-info {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
}

.product-preview-image-mobile {
	@extend .box-cover;

	display: none;
	top: $pxPadding;
	bottom: $pxPadding;
	height: auto;
}

//  page
.product-page {
	display: flex;
	position: relative;
	width: $pxProductPage;
	height: $pxProductPage;
	margin-right: $pxPadding;
	margin-bottom: $pxPadding;
	flex-direction: column;

	&:hover .product-page-img { margin: -4px; }
}

.product-page-img {
	flex-grow: 1;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	transition: margin $sTrans;
}

.product-page-buttons {
	display: flex;
	width: 100%;
	margin-top: $pxPadding;
}

//  single

//elements
//  front
.product-background-filter {
	position: absolute;
	top: 0; right: 0;
	width: 100%; height: 100%;

	background: rgba(26, 26, 26, 0.3);
}

.product-front-header {
	width: 100%;
	height: auto;
	margin: 0;

	font-size: 1.5em;
	white-space: nowrap;
}

.product-front-body {
	width: 100%;
	flex: 1 1 auto;
	overflow: hidden;
}

.product-front-button {
	margin-top: $pxPadding;
}

//  preview
.product-preview-image {
	flex-grow: 1;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.product-preview-title {
	margin-top: 0;

	white-space: nowrap;
}

.product-preview-excerpt {
	width: 100%;
	flex-grow: 1;
	overflow: hidden;
}

.product-preview-button {
	bottom: 0;
}

//  page
.product-page-header {
	margin: 0 0 $pxPadding;
}

.product-page-button {
	flex-grow: 1;
}

.product-page-button-view {
	margin-right: $pxPadding;
}

//  single
.larr {
	margin-right: 1em;

	&:after { content: '\2190'; }
}

.rarr {
	margin-left: 1em;

	&:after { content: '\2192'; }
}