//variables
$pxProductPreview: 400px;
$pxProductPage: 192px;

$pxProductPageImg: 256px;

//blocks
//  preview
.product-preview {
	display: inline-flex;
	position: relative;
	width: $pxProductPreview;
	height: $pxProductPreview;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.product-preview-content {
	position: absolute;
	top: $pxPadding * 2; right: $pxPadding * 2;
	width: calc(100% - #{$pxPadding * 4}); height: calc(100% - #{$pxPadding * 4});
	z-index: 2;

	line-height: $emBodyLineH;
	hyphens: auto;
}

//  page
.product-page {
	display: flex;
	height: $pxProductPage;
	margin-bottom: 2em;
}

.product-page-inner {
	display: flex;
	flex-direction: column;
}

//  single

//elements
//  preview
.product-preview-bg {
	position: absolute;
	top: 0; right: 0;
	width: 100%; height: 100%;

	background: rgba(26, 26, 26, 0.6);
}

.product-preview-header {
	width: 100%;
	margin: 0 0 $pxPadding;

	font-size: 1.5em;
}

.product-preview-button {
	position: absolute;
	bottom: 0;

	white-space: nowrap;
}

//  page
.product-page-img {
	width: $pxProductPage;
	height: $pxProductPage;
	margin-right: $pxPadding;
	flex-shrink: 0;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.product-page-header {
	margin-top: 0;

	text-align: left;
}

.product-page-info {
	overflow: hidden;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.product-page-button {
	margin-top: 1.25em;
	align-self: center;
}

//  single