//blocks
//  front
.testimonial {
	@extend .body-small;

	width: 384px;
	line-height: $emBodyLineH;
	margin-bottom: $pxPadding;

	.testimonial-info { float: right; }

	&:first-of-type {
		margin-right: $pxPadding;
	}
}

.testimonial-info { text-align: right; }

//  page
.testimonial-page {
	@extend .body-small;
	
	margin-bottom: 2em;

	p { margin-bottom: 0; }
}

//elements
.testimonial-body {
	font-style: italic;
	hyphens: auto;
}

.testimonial-author {
	font-weight: bold;
}

//this might bite me but (shrug emoji)
i[class] { font-style: normal; }